.loading {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .loading {
    min-height: 400px;
  }
}
.loading .place-holder .img-ph {
  height: 40px;
}

.products-section {
  letter-spacing: 1px;
  padding: 40px 25px;
  background: #e2e6e3;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}
@media (min-width: 768px) {
  .products-section {
    padding: 60px 60px;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 150px;
  }
}
.products-section .product {
  text-align: center;
}
.products-section .product img {
  max-width: 100%;
  width: 170px;
  height: 170px;
  object-fit: contain;
}
.products-section .product .title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  height: 50px;
}
@media (min-width: 768px) {
  .products-section .product .title {
    font-size: 14px;
    line-height: 25px;
  }
}
.products-section .product .price {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .products-section .product .price {
    font-size: 18px;
    line-height: 25px;
  }
}
.products-section .product .btn {
  font-size: 12px;
  background-color: #4b5548;
  border-radius: 0px;
  color: #ffffff;
  padding: 16px 16px;
  min-width: 100%;
}
@media (min-width: 768px) {
  .products-section .product .btn {
    min-width: 200px;
  }
}
.products-section .product .btn:hover {
  background-color: #343833;
}

.cart-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 30px 25px;
  min-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.cart-item-wrapper .item-image {
  max-width: 100%;
  height: auto;
  max-height: 40px;
}
@media (min-width: 768px) {
  .cart-item-wrapper .item-image {
    max-width: 100%;
    height: auto;
    max-height: 60px;
  }
}
.cart-item-wrapper h4 {
  font-weight: bold;
  margin-bottom: 30px;
}
.cart-item-wrapper p {
  font-size: 12px;
  margin-bottom: 30px;
  letter-spacing: 0.1px;
}
@media (min-width: 768px) {
  .cart-item-wrapper p {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
.cart-item-wrapper h6 {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.cart-item-wrapper label {
  font-size: 12px;
}
.cart-item-wrapper select {
  border-color: #ffffff;
  padding: 10px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .cart-item-wrapper select {
    padding: 16px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
.cart-item-wrapper select :focus {
  outline: none;
  box-shadow: none;
}
.cart-item-wrapper button.btn {
  font-size: 12px;
  background-color: #4b5548;
  border-radius: 0px;
  color: #ffffff;
  padding: 16px 16px;
  min-width: 100%;
  margin-top: 50px;
  text-transform: uppercase;
}
.cart-item-wrapper button.btn:hover {
  background-color: #343833;
}
.mancare {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.join {
  font-family: freight-display-pro, serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.125em;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  color: inherit;
}
.arrow {
  vertical-align: middle;
  display: inline-block;
  line-height: 1em;
  color: currentColor;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  font-size: 1;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0rem;
  transform: initial;
}
.mancarepic {
  display: flex;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}
.css-1ywmljq {
  object-fit: cover;
  width: 100%;
}
.css-1idia5r {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 50%;
  display: block;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .css-1idia5r {
    width: 50%;
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  .css-1idia5r {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 20%;
    padding-bottom: 0rem;
  }
}
.css-tj8qcz {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  width: 50%;
  display: none;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .css-tj8qcz {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .css-tj8qcz {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 20%;
    display: block;
    padding-bottom: 0rem;
  }
}
